@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "header.css";
@import 'apresentation.css';
@import 'projects.css';


body{
  font-family: 'Roboto', sans-serif;
}

.img_firstImg{
  
  display: flex;
  width: 100%;
  
  align-items: center;
  flex-direction:column;
  overflow: hidden;

}
#img_firstImg{
 height:80vh; 
 
}

.carousel_videos{
  width:100%;
}
video{
  width:100%;
}

.p_projects{
  color:white;
}





.input_title{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  
}
.input_section h2{
  margin-top: 0;
  color:rgba(23,61,122,255);
  margin-bottom: 0;

}
.input_title h4{
  margin-top: 0;
  color: rgb(120,120,120);

}
.input_title p{
  text-align: left;
  color: rgb(80,80,80);
  font-size: 120%;
}
.input_section{
  display: flex;
  background-image: url(../public/assets/back2.jpg);
}

