@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import "header.css";
@import 'apresentation.css';
@import 'projects.css';
@import 'input.css';

#root{
  display:none;
}

body{
  font-family: 'Roboto', sans-serif;
 
}

.img_firstImg{
  
  display: flex;
  width: 100%;
  
  align-items: center;
  flex-direction:column;
  overflow: hidden;

}
#img_firstImg{
 min-height:70vh; 
 width: 100%;
 
}

.acompanhe{
  width: 100%; 
  background-image: url(../public/assets/pattern_opaco.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.acompanhe_content{
  width: 90%;
  margin-top: 0;
  color:rgba(23,61,122,255);
}
.acompanhe_content h2{
  padding: 1rem;
  color: #f8bd3a;
  font-size: 110%;
  background-color:#1859a9;
  text-align: center;
  border-radius: 0.3rem;
}
.acompanhe_content>div>ul{
  font-weight: 500;
  padding-left: 0;
  display: flex;
  width: 45%;
  flex-direction: column;
  
  align-items:flex-start;
  
}
.acompanhe_redes{
  display: flex;
  justify-content: space-around;

  
}
.acompanhe_content>div>ul>li{
  box-sizing: border-box;
  text-align:left;
  font-size: 110%;
  padding:1rem;
  min-width: 100%;
  width:fit-content;
  color:rgba(23,61,122,255);
  list-style: none;
  border-radius: 0.3rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(90,90,90,0.5);
  display: flex;
  margin-top: 1rem;
 
}
.acompanhe_content>div>ul>li>img{
  
  width: 3rem;
  height:3rem;
}
.acompanhe_cards_text{
  margin-left: 0.5rem;
  align-self: center;
}
.acompanhe_texticulo{
  font-size: 90%;
  color:rgba(90,90,90,0.55);
}





