.apresentation{
    margin-top: 0;
    text-align: center;
    width:100%;
    color: rgba(23,61,122,255);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url(../public/assets/pattern_opaco.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  .img_apresentation{
    width:50%;
    align-self: center;
  }
  #img_apresentation{
    width:80%;
    border-radius: 1rem;
  }
  
  .text1{
    width:80%;
    margin-top: 2rem;
  }
  
  .p_apresentation{
    margin-left: 0.5rem;
    text-align:left;
    font-size: 120%;
    color: rgb(85, 85, 85);
  }
  
  .h2_aprensentation{
    font-weight: 600;
    margin-top:1.5rem;
    text-align: center;
    color: rgba(23,61,122,255);
  }

  .apresentation_title{
    display: flex;
    width: 100%;
  }
  .apresentation_title span{
    width: 20%;
    background-image: url(../public/assets/pata_paleta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  
  }