.projects{
    
    margin-top: 0;
    text-align: center;
    width:100%;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(23,61,122,255);
  }
  .projects_div{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: rgba(23,61,122,255);
  }
  #section_three{
    color: white;
    text-align: left;
  }
  
  .projects p{
    color: white;
    text-align:left;
    text-indent: 1rem;
    font-size: 110%;
  }
  .projects h3{
    align-self: flex-start;
    margin-top: 0;
    color: white;
  }
  .cards{
  width: 100%;
}
  .cards_ul{
    list-style: none;
    padding-left: 0;
  }

.cards_li{
 
  display: flex;
  
  align-content: center;
  margin-bottom: 2rem;
  align-items: center;
  color: rgb(255,255,255);
  font-weight: 500;
  font-size: 110%;
 background-color:#FDC500;
  padding: 0.8rem;
  border-radius:0.3rem;
  
}
.cards_icon{
  height:2rem;
  width:2rem;
  
  display:inline-block;
}
.cards_text{
  margin-left: 0.5rem;
  text-align: center;
}
.cards_btn{
  width:30%;
  background-color:#FDC500;
   border-radius:0.3rem;
   color: rgb(255,255,255);
  font-weight: 500;
  font-size: 110%;
  padding: 0.8rem;
  border-style: none;
  margin-bottom: 2rem;
}
 